{% extends 'layout.twig' %}

{% block body %}
    <form method="post" id="add" enctype="multipart/form-data" id="add">
        <input type="text" name="titre" id="titre" placeholder="titre de votre document" required="required"></br>
        <select name="domain" id="domain-select" required="required">
            <option value="">--Choisissez un domaine--</option>
            {% if domaines %}
                {% for domaine in domaines %}
                    {% if domaine != ""%}
                        <option value="{{ domaine| upper  }}">{{ domaine | upper }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <option value="Autre">Autre</option>
        </select></br>
        <div id="otherDomaine">
            <input type="text" name="domaine" id="do" placeholder="Définir un domaine"></br>
        </div>
        <textarea name="description" id="textarea" rows="5" cols="33" placeholder="Description" required="required">
        </textarea></br>
        <input type="file" name="fileToUpload" id="fileUpload" required="required"></br>
        <select name="shareWithUser" id="shareWithUser">
    		<option value="">Ce document peut être partagé avec des utilisateurs</option>
			<option value="oui">Oui
			<option value="non">Non
		</select></br>
        <div id="users"> 
 

        </div>
        <input type="button" id="valider" value="valider">
        <div id="sub">

        </div>
    </form>

{% endblock %}