{% extends 'layout.twig' %}

{% block body %}
	<form method="post" action="/app/createClass" id="createClass">
		<select name="formation" id="formation-select" required="required">
            <option value="">--Choisissez une formation--</option>
            {% if formations %}
                {% for formation in formations %}
                	<option value="{{ formation }}">{{ formation }}</option>
                {% endfor %}
            {% endif %}
            <option value="Autre">Autre</option>
        </select></br>
		<div id="otherFormation">
            <input type="text" name="formation" id="do" placeholder="Définir une formation"></br>
        </div>
		<div id="date">
			<div id="dateDeb">
				<label for="dateDeb">Date de début:</label>
				<input type="date" name="datedeb">
			</div>
			<div id="dateFin">
			<label for="dateFin">Date de fin:</label>
				<input type="date" name="datefin">
			</div>
		</div>
        
    </form>

  
{% endblock %}