{% extends 'layout.twig' %}

{% block body %}
	<form method="post" action="/app/createClass" id="createClass">
		<select name="formation" id="formation-select" required="required">
            <option value="">--Choisissez une formation--</option>
            {% if formations %}
                {% for formation in formations %}
                	<option value="{{ formation }}">{{ formation }}</option>
                {% endfor %}
            {% endif %}
            <option value="Autre">Autre</option>
        </select></br>
		<div id="otherFormation">
            <input type="text" name="formation" id="do" placeholder="Définir une formation"></br>
        </div>
        
    </form>

  
{% endblock %}