{% extends 'layout.twig' %}

{% block body %}
    <div class="loglist">
        <textarea id="log">
        {{result}}

        </textarea>
        <a class="download" href="/admin/downloadLog"><i class="fas fa-download fa-3x"></i></a>
    </div>
    
    <script src="/javascripts/admin.js"></script>
{% endblock %}