<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
       <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
       <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
       <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



   <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />


    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  {% if statut %}
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/app/home">Doc-Form</a>
    </div>
    <ul class="nav navbar-nav d-flex flex-row .w-80" >
      <li><a href="/app/home">Accueil</a></li>
      <li><a href="#">Accès aux documents</a>
        <ul>
            <li><a href="/app/AddDocs">Ajouter un document</a></li>
            <li><a href="/app/SearchDocs">Rechercher des documents</a></li>
            <li><a href="/app/MyDocs">Visualiser vos documents</a></li>
        </ul>
      </li>
      <li><a href="/app/register">Inscrire des utilisateurs</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right d-flex flex-row">
      
      <li><a href="/app/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
  </div>
</nav>
  {% endif %}
     
    {% block body %}{% endblock %}


<script src="http://code.jquery.com/jquery-2.0.3.min.js" ></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


    <script src="/socket.io/socket.io.js"></script>

    <script src="/javascripts/app.js"></script>
  </body>
</html>
