<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
       <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
       <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
       <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">



   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
   <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  {% if statut %}
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Doc-Form</a>
    </div>
    <ul class="nav navbar-nav d-flex flex-row">
      <li><a href="/app/home">Accueil</a></li>
      <li><a href="/app/register">Inscrire des utilisateurs</a></li>
      <li><a href="/app/AddDocs">Ajout Documents</a></li>
      <li><a href="/app/SearchDocs">Recherche de Documents</a></li>
      <li><a href="/app/MyDocs">Mes documents</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right d-flex flex-row">
      
      <li><a href="/app/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
  {% endif %}
     
    {% block body %}{% endblock %}


<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>


    <script src="/socket.io/socket.io.js"></script>

    <script src="/javascripts/app.js"></script>
  </body>
</html>
