
{% extends 'layout.twig' %}

{% block body %}
	<form method="POST"  id="add" action="/app/register">
		<input type="text" name="username" class="form-control" placeholder="username"></br>
		<input type="email" name="email" class="form-control" placeholder="email"></br>
		<select name="role" id="role-select">
    		<option value="">--Choisissez un role--</option>

				{% for role in role %}
						<option value="{{ role }}">{{ role }}</option>
				{% endfor %}
		</select></br>
		<select name="service" id="service-select">
    		<option value="">--Choisissez un service--</option>

				{% for service in services %}
					{% if service != "" %}
						<option value="{{ service }}">{{ service }}</option>
					{% endif %}
				{% endfor %}
		</select></br>
		<input type="text" name="site" class="form-control" placeholder="Site"></br>
		<input type="submit" value="Inscription" class="btn float-right login_btn">
	</form>
{% endblock %}