{% extends 'layout.twig' %}

{% block body %}
    <div id="add">
     {% for service in services %}
     {% if service != "" %}
    <h2>Service {{ service }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
            {% for key, role in roles %}
                {% if key == service %}
                    {% for act in role %}
                        {% if act != "" %}
                            <tr>
                                 <td>{{ act}}</td>
                                <td>AA</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
                <tr>
                    <form method="post" action="/admin/addRole/{{service}}">
                        <td><input type="text" name="nameRole" placeholder="Nom du role"></td>
                       
                        <td>
                            <input type="submit" value="Sauvegarder">
                        </td>

                    
                    </form>
                </tr>
            </tbody>
        </table>
    
        



  
    {% endif %}

     {% endfor %}
     </div>
{% endblock %}
