/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
z-index: 1;

font-family: 'Numans', sans-serif;
}
.page{
float: right;
font-size: 100%;
padding-right: 2em;

}
.page a{
text-decoration:none;
margin-right: 0;
color: white;
padding-left: 5px;
}

.container{
    margin-top: 10px;
}
.filter, .reset, .filt, .search{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;

}
.date{
    display: flex;
    flex-direction: row;
}
.alignLeft{
    text-align: left;
}
.espace{
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}
.date p{
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
}
#filtrAdmin{
    margin-top: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:80%;
    padding-top: 1em;
    padding-bottom: 1em;
}
.navbar-brand{
    font-size: 28px;
    color: red;
    font-weight: bold;
}
#dialog{
    position: absolute;
    z-index: 2;
    border: 1px solid black;
    top: 10px;
    text-align: center;
}
table{
    width: 90%
}
.divUpdate{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    text-align: left;
}
.btn{
    color: white;
}
.questionUpdate{
    font-size: 1.2em;
}
#fileUpdate, .questionUpdate{
    color: white;
}
.fileName{
    background-color: white;
}
table, th, tr, td{
    color: white;
    border: 1px solid white;
    text-align: center;
}
th{
    color: #007bff;
}
td{
    width: auto;
}
a{
    color: white;
}
nav{
    background-color: black;
}
#dialog{
    display: none;
}
nav a{
    color: white;
    list-style-type: none;
}
nav ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    }
    #oubli{
        visibility: hidden;
        text-align: center;
    }
nav li {
    float:left;
    margin:auto;
    width: auto;
    padding:0;
    background-color:black;
    }
    nav li a, nav li p {
        display:block;
        width:200px;
        color:white;
        text-decoration:none;
        padding:5px;
        }
    nav li a:hover {
            color:#FFD700;
        }
    nav ul li ul {
        display:none;
        }
    nav ul li:hover ul {
        text-align: left;
        display:block;
        width: auto;
        }
    nav li:hover ul li {
        float:none;
        }
    nav li ul {
        position:absolute;
        }

.contain{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.doc{
    margin-top: 1em;
    width:30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 10px;
    border-radius:10px;
}
#fileUpload{
    color:white;
}
 .corpDoc{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.headerDoc h3{
    margin-top: 0;
    float: left;
}
.headerDoc h4{
    margin-top:0;
    float: right;
}
.description{
    display: flex;
    flex-direction: column;
}

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3, .card-header h4 {
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 116px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
#otherRole, #otherDomaine, #otherFormation{
    display: none;

}
#date{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
#dateDeb, #dateFin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}
#do{
    width:100%;
    margin-bottom: 1em;
}
.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
.download, .apercu{
    color: blue !important;
}
#add, .search, #createClass{
    margin-top: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:80%;
}
.search{
    color: black;

}